﻿body {
    font-family: Tahoma;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    color: brown;
    font-size: 300%;
    margin: 0;
}

span {
    font-style: italic;
}

.canvas {
    margin: 10px;
    float: left;
    border: 1px solid #000000;
    background-color: white;
}